h1{
    font-family: Impact;
}


div {
    width: max-content;
    margin: auto;
    border: 3px solid #e61c8b;
    background-color: rgb(255, 203, 242);
    text-align: center;
    padding: 20px;
}

body {
    background-image: url("images/oh\ no.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }


 


